body {
    background-color: skyblue;
}

/* TRANSITIONS */
/* SQUARE 1 */
.ex-1-square {
    transition: background 2s ease;
}

.ex-1-square:hover {
    background-color: red;
}

/* SQUARE 2 */
.ex-2-square {
    transition: width 2s ease-in-out;
}

.ex-2-square:active {
    width: 100%;
}

/* SQUARE 3 */
.ex-3-square {
    transition: border-radius 1.5s ease-in-out;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* SQUARE 4 */
.ex-4-square {
    transition: opacity 1.5s cubic-bezier(.94,-0.01,0,1);
}

.ex-4-square:hover {
    opacity: 0;
}

/* SQUARE 5 */
.ex-5-square:hover {
    transform: scale(1.25);
    transition: transform 1.5s ease-in;
}

.ex-5-square:active {
    transform: scale(0.75);
    transition: transform 1.5s ease-out;
}

/* FILTERS */
/* IMG 6 */
.ex-6-img {
    transition: filter 1.5s ease;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* IMG 7 */
.ex-7-img {
    transition: filter 2s ease;
}

.ex-7-img:hover {
    filter: sepia(0.75) grayscale(0.5);
}

/* IMG 8 */
/* per combinare più transition si scrive un'unica transition con i vari effetti separati da una virgola, altrimenti con due transition non va */
.ex-8-img {
    transition: filter 3s ease, border-radius 5s ease;
}

.ex-8-img:hover {
    filter: sepia(0.45) grayscale(0.45);
    border-radius: 10px;
}

/* IMG 9 */
.ex-9-img {
    transition: filter 2s ease, border-radius 2s ease, transform 2s ease;
}

.ex-9-img:hover {
    filter: saturate(0.5) brightness(0.25);
    border-radius: 20px;
    transform: scale(1.25);
}

/* ANIMATIONS */
/* EX 10 */
.ex-10-icon {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

/* EX 11 */
.ex-11-icon:hover {
    animation: partial-spin 3s linear;
}

@keyframes partial-spin {
    0% {transform: rotate(0);}
    80% {transform: rotate(270deg);}
    100% {transform: rotate(0);}
}

/* EX 12 */
.ex-12-icon:hover {

}

@keyframes partial-spin {
    
}
